
<div class="jumbotron">
  <p><strong>Welcome to the Awesome Weather App, to view the current weather information, please type the name of the city here
  </strong></p>
<form action="/current" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">City Name</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City" name='city_name'>
    <button type="submit" class="btn btn-primary">Get Weather</button>
    <hr class="my-4">
</form>

